.company-logo {
    display: flex;
    justify-content: center;
}

.company-header {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .company-header {
        text-align: center !important;
        margin-bottom: 20px;
    }
}
.ui.secondary.pointing.menu {
    border-bottom: 1px solid #b4deed !important;
}

.ui.secondary.pointing.menu .active.item {
    border-color: #3688A6 !important;
}
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #3688A6 !important;
}